<nav class="navbar navbar-dark bg-primary">
    <div class="container">
    <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
      &#9776;
    </button>
    <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
      <%= link_to "Parthenon", root_path, class: "navbar-brand" %>

      <ul class="nav navbar-nav pull-right">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to root_path, class: 'nav-link' do %>
                <%= fa_icon "server", class: 'fa-fw', text: 'Servers' %>
            <% end %>
          </li>

          <li class="nav-item">
            <%= link_to edit_user_registration_path, class: 'nav-link' do %>
                <%= fa_icon "cog", class: 'fa-fw', text: 'Account' %>
            <% end %>
          </li>

          <li class="nav-item">
            <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link' do %>
                <%= fa_icon "sign-out", class: 'fa-fw', text: 'Sign Out' %>
            <% end %>
          </li>

        <% else %>
        <li class="nav-item">
            <%= link_to new_user_registration_path, class: 'nav-link' do %>
                <%= fa_icon "user-plus", class: 'fa-fw', text: 'Sign Up' %>
            <% end %>
        </li>

        <li class="nav-item">
            <%= link_to new_user_session_path, class: 'nav-link' do %>
                <%= fa_icon "sign-in", class: 'fa-fw', text: 'Login' %>
            <% end %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
